<% if params[:from_linkto] %>
  <div class="container info">
    <h2>Awesome, you set a new goal</h2>
    <a href= "#<%= goal.id %>" > Start achieving now! </a>
    </div>
<% end %>
<div class="container my-4">
  <div class="row">
    <div class="col-4 z-minus">
      <div class="sticky sticky-with-header sticky-top">
    <!--  <------------- Profile ---------------->
         <%= render 'shared/profile_summary'%>
    <!--  <------------- Goal Card ---------------->
      </div>
    </div>
    <div class="display-goals col-8">
      <!-- <div class="list" style=""> -->
        <ul class="nav nav-tabs justify-content-center" style="width:fit-content;">
          <li class="nav-item" id="goals_button">
            <%= link_to "Goals", "/dashboard/goals" %>
          </li>
          <li class="nav-item" id="achievements_button">
            <%= link_to "Achievements", "/dashboard/goals" %>
          </li>
        </ul>
      <div class="" id="dashboard-goals">
        <% @goals.each do |goal| %>
            <%= render 'shared/goal_card', goal: goal %>
        <% end %>
      </div>
    </div>
  </div>
</div>

