
<div class="card card-home">
  <div class="lockup-card d-flex position-absolute">
    <%= cl_image_tag achievement.user.avatar.key, { class: "rounded-circle"} %>
    <p class="user-name">@<%= achievement.user.username.capitalize %></p>
  </div>

  <%= cl_image_tag achievement.photo.key, { class: "card-img-top"} %>
  <div class="card-body">
    <div class="card-body-text">
      <h5 class="card-title" style="text-transform: uppercase;">
        <strong><%=  achievement.title %></strong>
      </h5>
      <p class="card-text" style="font-style: italic;">
        <%=achievement.motivation.truncate(40) %>...
      </p>
      <div class="icons-card">
        <p>
         Category: <b><%= achievement.category %></b>
        </p>
      </div>
    </div>
      <%= link_to new_goal_path do%>
        <%= image_tag "btn-flat.svg" %>
      <% end %>
  </div>

</div>


