
<div class="card h-100">

  <%= cl_image_tag achievement.user.avatar.key, { class: "rounded-circle"} %>
  <%= link_to new_goal_path do %>
    <%= render "shared/icon-add" %>
  <% end %>

  <%= cl_image_tag achievement.photo.key, { class: "card-img-top"} %>
  <div class="card-body">
    <div class="card-body-text">
      <h5 class="card-title" style="text-transform: uppercase;">
        <strong><%=  achievement.title %></strong>
      </h5>
      <p class="card-text" style="font-style: italic;">
        <%=achievement.motivation[0..60] %>...
      </p>
    </div>
      <%= link_to 'show more', new_goal_path, class: "btn btn-flat" %>
  </div>

</div>


