<div class="card ">

  <%= cl_image_tag achievement.user.avatar.key, { class: "rounded-circle"} %>
  <%= render "shared/icon-add" %>
  <%= cl_image_tag achievement.photo.key, { class: "card-image"} %>
  <div class="card-body">
    <h5 class="card-title" style="text-transform: uppercase;"><strong><%=  achievement.title %></strong></h5>
    <p class="card-text" style="font-style: italic;"><%=achievement.motivation %></p>
    <a href="#" class="btn btn-flat">set goal</a>
  </div>
</div>

