<div class="card" id="<%= achievement.id %>">
  <%= cl_image_tag achievement.user.avatar.key, { class: "rounded-circle"} %>
  <%= render "shared/icon-add" %>
  <%= cl_image_tag achievement.photo.key, { class: "card-image"} %>
  <div class="card-body">
    <h5 class="card-title" style="text-transform: uppercase;"><strong><%=  achievement.title %></strong></h5>
    <p class="card-text" style="font-style: italic;"><%=achievement.motivation %></p>
    <div class="btn btn-flat milestone_dropdown" data-card-id="<%= achievement.id %>">see Milestones</div>
  </div>
  <div class="container_new">
    <div class="closed_card" id="card-<%= achievement.id %>">
      <% achievement.milestones.each do |milestone| %>
      <div class="drop_down">
        <div class="flexbox d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <% if milestone.done == true %>
            <%= image_tag "checkbox.png", height:20 %>
            <% else %>
            <%= image_tag "checkbox_unchecked", height:20 %>
            <% end %>
            <p class="name mb-0"><%= milestone.name %> </p>
          </div>
          <div class="goal_description">
            <p class="description mb-0"> <%= milestone.description %> </p>
          </div>
          <p class="price mb-0"> <%= milestone.price %> € </p>
        </div>
      </div>
      <% end %>
    </div>
    <div class="Goal_button d-flex align-items-end">
      <a href="#" class="btn btn-flat">Set Goal</a>
    </div>
  </div>

</div>
