
<div class="card-trip">
  <%= goal_or_default_image_tag(goal, class: "image-card-goal") %>
  <%#= image_tag "https://images.unsplash.com/photo-1519904981063-b0cf448d479e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80", class: "image-card-goal" %>
  <div class="inspiration">
    <div class="d-flex">
      <%= image_tag "inspiration.svg", class: "inspiration-image" %>
      <div class="box-inspiration">
        <p class="inspiration-text">Inspiration</p><p class="name">Some Guy</p>
      </div>
    </div>
  </div>
  <%= image_tag "notification.svg", class: "green-point position-absolute" %>
  <div class="card-trip-infos">
    <div>
      <h2 class="headline"><%= goal.title %></h2>
      <p class="motivation"><%= goal.motivation %></p>
    </div>
    <div class="lockup">
      <% if goal.completed == false %>
      <div class="false">
        <div class="d-flex justify-content-end">
          <%= image_tag "target.svg", class: "target" %>
          <h2 class="card-trip-goal">GOAL</h2>
        </div>
        <p class="date-added">created: <%= goal.created_at.strftime("%B %d, %Y") %></p> <!-- ("%B %d %Y, %l:%M%P")  -->
      </div>
      <% else %>
      <div class="true">
        <div class="d-flex justify-content-end">
          <h2 class="card-trip-goal">Achievement</h2>
        </div>
        <p class="date-added">created:<%= goal.created_at %></p>
      </div>
      <% end %>
    </div>
  </div>
  <div class="progress-management">
    <div class="d-flex justify-content-between align-items-center">
      <div class="progress" style="height: 9px;">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <button type="button" class="btn btn-light">ACHIEVED</button>
    </div>
  </div>
  <!-- -----------------------------Milestones--------------------------------->
  <div class="btn btn-flat milestone_dropdown" data-card-id="<%= goal.id %>">
    see Milestones
  </div>
  <div class="container_new">

    <div class="closed_card" id="card-<%= goal.id %>">
      <% goal.milestones.each do |milestone| %>
      <div class="drop_down">
        <div class="headlines d-flex align-items-center justify-content-between">
<!--              <input type="checkbox" name="goal" class="checkbox_hidden">
-->       <p class="item_name">ITEM NAME</p>
          <p class="goal_description">DESCRIPTION</p>
          <p>COSTS</p>
        </div>
        <div class="milestone_items d-flex align-items-center justify-content-between">
          <input type="checkbox" name="goal" class="checkbox_milestones">
          <div class="d-flex align-items-center">
            <p class="name mb-0"><%= milestone.name %> </p>
          </div>
          <div class="goal_description">
            <p class="description mb-0"> <%= milestone.description %> </p>
          </div>
          <p class="price mb-0"> <%= milestone.price %> € </p>
          <p> <%#= link_to "Delete", , method: :delete, remote: true %> </p>
        </div>


          <p> <%= link_to "Delete Goal", goal_path(goal) , method: :delete, remote: true %> </p>


      </div>
       <% end %>
    </div>

  </div>

  <p class="price mb-0"> <%= milestone.price %> € </p>
</div>
</div>
<% end %>
</div>
</div>
</div>



