

<div class="my-container">
  <%= simple_form_for :search, method: :get, url: achievements_path, html: {class:"mt-2" } do |f| %>
    <div class="my-row">
      <div class=" d-flex" style= 'height: 38px;'>
        <%= f.input :query, label: false, placeholder: "What does your heart crave?", input_html: { class: "query-input" } %>
        <div class="submit btn-info">
          <%#= f.submit as: :hidden  %>
          <%= image_tag "Binoculars.svg", height:38 %>
        </div>
      </div>
    </div>
  <% end %>

  <p class= 'search-header justify-content-start'>EXPLORE WHAT'S NEXT</p>
  <div class="my-row">
    <div class="explore d-flex justify-content-between">

      <%= simple_form_for :search, method: :get, url: achievements_path, html: {class:"" } do |f| %>
        <%= f.input :query, label: false, as: :hidden %>
        <%= f.submit 'All', class: "our-btn explore-btn"%>
      <% end %>

      <%= simple_form_for :search, method: :get, url: achievements_path, html: {class:"" } do |f| %>
        <%= f.input :query, label: false, as: :hidden %>
        <%= f.submit 'Achievements', class: "our-btn explore-btn"%>
      <% end %>

      <%= simple_form_for :search, method: :get, url: achievements_path, html: {class:"" } do |f| %>
        <%= f.input :query, label: false, as: :hidden %>
        <%= f.submit 'Users', class: "our-btn explore-btn"%>
      <% end %>

      <%= simple_form_for :search, method: :get, url: achievements_path, html: {class:"" } do |f| %>
        <%= f.input :query, label: false, as: :hidden %>
        <%= f.submit 'Surprise me!', class: "our-btn explore-btn"%>
      <% end %>
      <!-- hidden field button -->
    </div>
  </div>

  <p class= 'search-header'>EVERYTHING CLOSE TO...</p>
  <div class="my-row">
    <div class="cities small-btn d-flex d-flex justify-content-between">
      <%= simple_form_for :search, method: :get, url: achievements_path, html: {class:"" } do |f| %>
        <%= f.input :query, label: false, as: :hidden %>
        <%= f.submit 'munich', class: "city-btn our-btn"%>
      <% end %>

      <%= simple_form_for :search, method: :get, url: achievements_path, html: {class:"" } do |f| %>
        <%= f.input :query, label: false, as: :hidden %>
        <%= f.submit 'berlin', class: "city-btn our-btn"%>
      <% end %>

      <%= simple_form_for :search, method: :get, url: achievements_path, html: {class:"" } do |f| %>
        <%= f.input :query, label: false, as: :hidden %>
        <%= f.submit 'cologne', class: "city-btn our-btn"%>
      <% end %>

      <%= simple_form_for :search, method: :get, url: achievements_path, html: {class:"" } do |f| %>
        <%= f.input :query, label: false, as: :hidden %>
        <%= f.submit 'stuttgart', class: "city-btn our-btn"%>
      <% end %>
      <!-- hidden field button -->
    </div>
  </div>

  <p class= 'search-header'>RECENT SEARCHES</p>
  <div class="my-row">
    <div class="searches small-btn d-flex justify-content-between">
      <%= simple_form_for :search, method: :get, url: achievements_path, html: {class:"" } do |f| %>
        <%= f.input :query, label: false, as: :hidden %>
        <%= f.submit 'munich', class: "city-btn our-btn"%>
      <% end %>

      <%= simple_form_for :search, method: :get, url: achievements_path, html: {class:"" } do |f| %>
        <%= f.input :query, label: false, as: :hidden %>
        <%= f.submit 'berlin', class: "city-btn our-btn"%>
      <% end %>

      <%= simple_form_for :search, method: :get, url: achievements_path, html: {class:"" } do |f| %>
        <%= f.input :query, label: false, as: :hidden %>
        <%= f.submit 'cologne', class: "city-btn our-btn"%>
      <% end %>

      <%= simple_form_for :search, method: :get, url: achievements_path, html: {class:"" } do |f| %>
        <%= f.input :query, label: false, as: :hidden %>
        <%= f.submit 'stuttgart', class: "city-btn our-btn"%>
      <% end %>
      <!-- hidden field button -->
    </div>
  </div>
</div>

<!-- col-sm-6 col-sm-offset-3 -->
