<div class="container">
  <div class="row">
     <!--  <------------- Card ---------------->
    <div class="col-8" >
      <div class="achievement_card">
        <%= cl_image_tag @achievement.photo.key, { class: "image_achievement"} %>
        <h1 class="achievement_title"> <%=  @achievement.title %> </h1>
        <p class="motivation"> <%= @achievement.motivation %> </p>
      </div>
      <div class="container">
        <% @milestones.each do |milestone| %>
        <div class="row">
          <% if milestone.done == true %>
          <%= image_tag "checkbox.png", height:20 %>
          <% else %>
          <%= image_tag "checkbox_unchecked", height:20 %>
          <% end %>
          <p class="name"><%= milestone.name %> </p> <p class="description"> <%= milestone.description %> </p> <p class="price"> <%= milestone.price %> € </p>
        </div>

      <% end %>
      </div>
    </div>
  </div>
</div>

