<div class="container my-4">
  <div class="row">
    <div class="col-4">
      <div class="sticky sticky-with-header sticky-top">
    <!--  <------------- Profile ---------------->
         <%= render 'shared/profile_summary'%>
    <!--  <------------- Goal Card ---------------->
      </div>
    </div>
    <div class="col-8">
      <div class="card-trip">
        <%= image_tag "https://images.unsplash.com/photo-1519904981063-b0cf448d479e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80", class: "image_card_goal" %>
        <div class="inspiration">
          <div class="d-flex">
            <%= image_tag "inspiration.svg", class: "inspiration_image" %>
            <div class="box_inspiration">
              <p class="inspiration_text">Inspiration</p><p class="name">Some Guy</p>
            </div>
          </div>
        </div>
      </div>
      <%= image_tag "notification.svg", class: "green_point position-absolute" %>
      <div class="card-trip-infos">
        <div>
          <h2>Headline of Goal</h2>
          <p class="motivation">This is what first motivated you to go after your goal. Best not to forget it</p>
        </div>
        <div class="lockup">
          <div class="d-flex justify-content-end">
            <%= image_tag "target.svg", class: "target" %>
            <h2 class="card-trip-goal">GOAL</h2>
          </div>
          <p class="date_added">created:15.03.2020</p>
        </div>
        <div>
          <button type="button" class="btn btn-light">ARCHIEVED</button>
        </div>
      </div>
    </div>
  </div>
</div>

